body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set a background color for the entire page */
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    margin: 20px;
    background-color: #fff; /* Set a background color for the container */
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movies-list .movie-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .movies-list .movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination a {
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    background-color: #333; /* Set a background color for pagination links */
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination a:hover {
    background-color: #555;
  }
  